* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/img/fondo2.png);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover; 
    background-repeat: no-repeat;
}

.rectangulo-grande {
    border-radius: 0px 55px 55px 0px;
    box-shadow: 17px 14px 50px -1px rgba(0,0,0,0.37);
    width: 500px;
    height: 680px;
    background-color: #ffffff;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cuadro-pequeno {
    margin-top: 19px;
    box-shadow: -26px -20px 54px -1px rgba(0,0,0,0.37);
    border-radius: 55px 0px 0px 0px;
    width: 500px;
    height: 350px;
    background-color: #0C1B44;
    

}

.cuadro-pequeno1 {
    box-shadow: -25px 30px 54px -1px rgba(0,0,0,0.37);
    border-radius: 0px 0px 0px 55px;
    width: 500px;
    height: 330px;
    background-color: #0071F4;
    margin-bottom: 40px;
} 

.cenla{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.center1{
    display: grid;
    place-items: center;
}

label{
    font-size: 25px;
    color: #ffffff;
    background-color: none;
    pointer-events: none;
}

input{
    margin-top: 0;
    margin-left: 80px;
    display: block;
    padding: 10px;
    background-color: transparent;
    border: 1.5px solid #013D85;
    border-radius: 5px;
    color: #000000;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.cuadro{
    padding-top: 7rem;
}

input:focus{
    outline:none;
    border: 1.5px solid #014EAB;
}

p {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
}

header {
    text-align: center;
    background-color:transparent;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
    font-family:'Noto Sans', sans-serif;
    font-size: 30px;
}

.texla{
    margin-left: 8rem;
}

select {
    margin-left: 2rem;
    margin-top: 5rem;
    padding: .5rem 1rem;
    border: none;
    color: rgb(0, 0, 0);
    box-shadow: -15px 9px 68px 2px rgba(0,0,0,0.5);
    background-color: #dadada;
    border-radius: 10px;
    cursor: pointer;
}

button {
    width: 15rem;
    height: 4rem;
    border-radius: 66px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    box-shadow: -15px 9px 68px 2px rgba(0,0,0,0.5);
    cursor: pointer;
}

button:hover {
    background-color: #d0d0d0;
}

.p {
    align-items: center;
    justify-content: center; 
    display: grid;
    gap: 1rem;
}

.contener{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.center {
    margin-top: 2rem;
    display: grid;
    place-items: center;
}

footer{

    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: transparent;
    
}

footer h3{
    font-size: 15px;
    color: #FFFAF2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}