*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f2f3f3;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.center{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(229, 233, 230);
}

.header{
    background-color: #f8f7f7;
    height: 6rem;
    width: 100%;
    display: grid;
    place-items:center;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ingresar{
    gap: 10px;
    font-size: 20px;
    margin: 5rem 1rem 1rem 1rem;
}
@media (min-width:768px){
    .ingresar{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        font-size: 20px;
        
    }
}
.opt{
    width: 15rem;
    height: 2rem;
    border-radius: 30em;
    font-size: 15px;
    text-align: center;
    border: none;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #fff;
}

span{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 28rem;
}

.pie{
    margin: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.final{
    font-size: 20px;
    margin-top: 2rem;
    
}
@media (min-width:760px){
    .final{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        
    }
}

button{
   margin: .5rem;
    width: 6rem;
    height: 2rem;
    border-radius: 30em;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #fff;
    cursor: pointer;
}

button:hover{
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #bbb7b7;
}

.box{
    position: relative;
}

input{
    display: block;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #000000;
    font-size: 20px;
   
}

label{
    
    color: #000000;
    background-color: none;
    pointer-events: none;
}

input:focus{
    outline:none;
    border: 1.5px solid lightblue;
}
.btncen{
    display: grid;
    place-items: center;
    margin: 1rem;
    
}
footer{
    display: grid;
    place-items: center;
    padding: 1rem;
}
aside{
    margin: 1rem;
}
