*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f3fafa;
    color: rgb(0, 0, 0);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
    display: block;
}

.center{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: #8FAADC;
}

.header{
    background-color: #444444;
    height: 6rem;
    width: 100%;
    display: grid;
    place-items:center;
    color: #fff;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ingresar{
    gap: 10px;
    font-size: 20px;
    margin: 5rem 1rem 1rem 1rem;
}

@media (min-width:768px){
    .ingresar{
        display: grid;
        
        gap: 10px;
        font-size: 20px;
        
    }
}

span{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 28rem;
}

.pie{
    margin: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    margin: .5rem;
    margin-top: 3rem;
    width: 10rem;
    height: 2rem;
    border-radius: 50px;
    background: #8FAADC;
    box-shadow: 17px 14px 50px -1px rgba(0,0,0,0.37);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    cursor: pointer;
    color: #fff;
}



button:hover{
    box-shadow: 6px 6px 12px #475a65, -6px -6px 12px #475a65;
}

.box{
    position: relative;
}

input{
    display: block;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #000000;
    font-size: 20px;
   
}

label{
    color: #000000;
    background-color: none;
    pointer-events: none;
}

input:focus{
    outline:none;
    border: 1.5px solid lightblue;
}

.btncen{
    margin-top: 2rem;
    display: grid;
    place-items: center;
    margin: 1rem;
    
}

footer{
    display: grid;
    place-items: center;
    padding: 1rem;
}

p{
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    font-size: 20px;
    color: #2f3d44;
}

.sexo {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.gen{
    margin-left: 5rem;
    font-size: 20px;
}

@media (min-width:768px){
    .circu{
        display: flex;
        gap: 10px;
        font-size: 20px;
        color: #2f3d44;
    }
}
.flex{
    display: flex;
    justify-content: space-between;
}