*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    list-style: none;
 }
 
 body{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background: #ffffff;
 }
 
 nav{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 600px;
     width: 100%;
     height: 100px;
     background-color: #F3F8F8;
 }
 
 nav .logo{
     font-size: 2rem;
     background: #000000;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     
 }
 
 ul{
     text-transform: uppercase;
 }
 
 nav ul{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 0 35px;
     font-size: 1.2rem;
 }
 
 nav a{
     background: #000000;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     text-decoration: none;
 }
 
 nav a:hover{
     border-bottom: 2px solid hsl(239, 65%, 33%);
     transition: 1s;
 }
 
 .content{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 0px 400px;
 }
 
 .content img{
     width: 25rem;
     transform: translateY(0px);
     animation: float 5s ease-in-out infinite;
 }
 
 .introduction{
     background: #000000;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     width: 300px;
     height: 400px;
     font-size: 1.3rem;
     font-weight: 400;
     margin-top: 200px;
 }
 
 @keyframes float {
     0%{transform: translateY(0px);
     }
     50%{
         transform: translateY(-50px);
     }
     100%{
         transform: translateY(0px);
     }
 }